html
    title form demo
    body
        h2 Enter your information
        form(method="post", action="/saveForm")
            p Name
            input(type="text", name="yourName")
            input(type="submit", value="send")