html
    title My index Page
    link(rel="stylesheet", href="/css/mystyle.css",type="text/css")
    script(src="/scripts/myscript.js")
    body
        div
            h1 Ocean's Eleven
            ul
                li Comedy
                li Thriller
             p.
                Danny Ocean and his eleven accomplices plan to rob
                three Las Vegas casinos simultaneously.
            img(src="/image/112.jpg", width ="150px", height="150")
        div
            ul
                - for (var i=1; i<=5; i++) {
                li Hello
                - }
            
            p.redText This is a red Line
            input(type="button",onclick="Hi()",value="Click Here")